@media screen and (min-width: 576px) {
  #sidebar {
    flex-basis: 230px;
    align-items: flex-start;
    padding-left: 25px;
  }

  #utils {
    text-align: left;
  }

  .small-logo {
    display: none;
  }

  .big-logo {
    display: block;
  }

  a span {
    display: inline;
    font-size: 13px;
  }

  #sidebar img {
    margin: 0px;
    vertical-align: middle;
  }

  #utils div {
    margin-bottom: 10px;
  }

  #playlist {
    display: block;
  }

  #playlist-title {
    display: block;
  }

  #user-area #download-pic {
    width: 15px;
    margin: 0px;
  }

  hr {
    display: block;
  }

  #profile-area h2 {
    display: inline-block;
    margin-left: 10px;
  }

  /* Fine media queries */
}

@media screen and (min-width: 768px) {
  #albums {
    justify-content: left;
  }

  .single-album {
    flex-basis: 25%;
  }

  /* Fine media queries */
}

@media screen and (min-width: 992px) {
  .single-album {
    flex-basis: calc(100% / 6);
  }

  /* Fine media queries */
}

@media screen and (max-height: 400px) {
  main {
    height: calc(100vh + 400px);
  }

  /* Fine media queries */
}
