@media screen and (min-width: 768px) {
  #sidebar {
    flex-basis: 230px;
    align-items: flex-start;
    padding-left: 25px;
  }

  #utils {
    text-align: left;
  }

  .small-logo {
    display: none;
  }

  .big-logo {
    display: block;
  }

  #utils a span {
    display: inline;
    font-size: 13px;
  }

  #sidebar img {
    margin: 0px;
    vertical-align: middle;
  }

  #utils div {
    margin-bottom: 10px;
  }

  #playlist {
    display: block;
  }

  /* Fine media queries */
}
