/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.d-flex {
  display: flex;
}

.content {
  flex-grow: 1;
  flex-direction: column;
}

/* Utilities */

h1 {
}

h2 {
}

h3 {
}

h4 {
  font-size: 12px;
}

.txt-white {
  color: white;
}

.txt-grey {
  color: #7d7f84;
}

.txt-small {
  font-size: 12px;
}

.d-inline-b {
  display: inline-block;
}

.btn {
  background-color: #080b12;
  color: white;
  border: solid white 1px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 5px;
}

/* Sidebar */

#sidebar {
  flex-basis: 50px;
  background-color: #000000;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#sidebar img {
  width: 20px;
  display: block;
  margin: 5px;
}

#user-area #download-pic {
  width: 10px;
  margin: 10px;
}

/* Header */

header {
  background-color: #080b12;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

/* Main */

main {
  height: calc(100vh - 200px);
  background-color: #141922;
}

/* Footer */

footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
}

.music-player {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.album-description span {
  display: block;
  font-size: 10px;
  font-weight: 600;
}

#playing-album img {
  width: 35px;
}

.favorite-icons .far {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
}
