/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.d-flex {
  display: flex;
}

.content {
  flex-grow: 1;
  flex-direction: column;
}

/* Utilities */

.txt-white {
  color: white;
}

.btn {
  background-color: #080b12;
  color: white;
  border: solid white 1px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 5px;
}

/* Sidebar */

#sidebar {
  flex-basis: 50px;
  background-color: #000000;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#sidebar img {
  width: 20px;
  display: block;
  margin: 5px;
}

#user-area #download-pic {
  width: 10px;
  margin: 10px;
}

/* Header */

header {
  background-color: #080b12;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

/* Main */

main {
  height: calc(100vh - 200px);
  background-color: #141922;
}

/* Footer */

footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
}
